<%= form_with(model: current_user.question_bookmarks.build, local: false) do |f| %>
  <div><%= hidden_field_tag :question_id, @question.id %></div>
  <%= f.submit "bookmark", class: "not_bookmark_now" %>
<% end %>