<%= form_with(model: current_user.article_bookmarks.build, local: false) do |f| %>
  <div><%= hidden_field_tag :article_id, @article.id %></div>
  <%= f.submit "bookmark", class: "not_bookmark_now" %>
<% end %>