<% provide(:title, "follow")%>
<div class="page_content"><%= @user.name %>さんのフォロー</div>
<% if @user.following.any? %>
  <%= render partial: 'shared/follow_follower_page', locals: { followers_or_follows: @follows } %>
    <div class="pagy_position">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
<% end %>
