<% provide(:title, "nice") %>

<div class="sum_question_article">
  <div>Nice article count / <%= @user.sum_nice_per_user.count %></div>
</div>
<div class="personal_question_article_list">
  <% if @user.sum_nice_per_user.any? %>
    <%= render partial: "shared/recorded_article_question_list_outline", locals: { one_type_instance_collection: @nices, type: "nice" } %>
    <div class="pagenation">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% else %>
    <strong>まだniceボタンを押していません</strong>
  <% end %>
</div>