<% provide(:title, "Question bookmark") %>

<div class="sum_question_article">
  <div>Question bookmark count / <%= @user.sum_questionbookmark_per_user.count %></div>
</div>
<div class="personal_question_article_list">
  <% if @user.sum_questionbookmark_per_user.any? %>
    <%= render partial: "shared/recorded_article_question_list_outline", locals: { one_type_instance_collection: @questionbookmarks, type: "questionbookmark" } %>
    <div class="pagenation">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% else %>
    <strong>質問がありません</strong>
  <% end %>
</div>