// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*showアクション：個人の全ての作成記事・質問ページ*/
.personal_question_article_list {
  width: 90%;
  margin: 0 auto;
  height: auto;
  .flex {
    display: flex;
  }
}
/*上のクラスに合わせた。適用要素の左端、右端の位置を統一している*/
.sum_question_article {
  width: 90%;
  margin: 2.4rem auto 3.1rem;
  font-family: impact;
  font-size: 2rem;
  height: 3rem;
  background-color: gold;
}

.interspace_items {
  margin-bottom: 0.4rem;
}

.search_form {
  width: 90vw;
  height: 40vh;
  margin: 0 auto;
  background-color: lightgray;
  border-radius: 10px;
  .search {
    height: 6vh;
    margin-bottom: 1vh;
    .search_input {
      height: 4.5vh;
      width: 40%;
    }
    .button_size {
      height: 4vh;
    }
  }
  .user_name {
    height: 4vh;
    font-size: 3vh;
    margin-bottom: 1vh;
  }
  .flex_container {
    display: flex;
    height: 4vh;
    margin-bottom: 2vh;
    .condition {
      height: 4vh;
      font-size: 3vh;
    }
    .checkbox {
      height: 1.8vh;
      margin: auto 0;
      .space {
        margin-left: 4px;
      }
    }
    .input_term {
      height: 1.8vh;
      margin: auto 0;
      margin-left: 10px;
    }
  }
}

// 記事・質問作成&編集ページ
.article_question_form {
  margin: 0 auto 30px;
  width: 70vw;
  .form-label {
    font-weight: bold;
  }
  .item {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .flex_mode {
    display: flex;
    .space, .checkbox {
      margin-right: 10px;
    }
    .have_solved {
      margin-left: 20vw;
      margin-right: 20vw;
    }
  }
}

.richtext_form {
  width: 70vw;
  margin: 0 auto 1%;
  .form-label {
    font-weight: bold;
  }
  .form_height {
    height: 40vh;
    overflow-y: auto;
    overflow-x: auto;
  }
}

// article,questionモデルのbrowsing action
@mixin about_border {
  border: 1px solid;
  border-radius: 10px;
}

@mixin button_design($text_color,$background_color,$border_color) {
  color: $text_color;
  background-color: $background_color;
  border: 2px solid $border_color;
  border-radius: 14px;
}

.browse_question_article_flex {
  width: 100vw;
  .main_view {
    margin-left: 5vw;
    margin-right: 5vw;
    width:  90vw;
    .title {
      margin-bottom: 10px;
      font-size: 3rem;
      font-weight: bold;
      height: 4.5rem;
      overflow-x: auto;
    }
    hr {
      border: none;
      height: 2px;
      margin-bottom: 30px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%,
                rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
    }
    .user_info {
      margin-bottom: 20px;
      @include about_border;
      height: calc(55px + 10px + 3rem);
      display: flex;
	    flex-direction: column;
      .info_content {
        display: flex;
        height: 55px;
        .avatar_img {
          width: 55px;
          margin-right: 10px;
        }
        .name {
          overflow: hidden;
          a {
            line-height: 55px;
            font-size: 1.4rem;
            color: black;
          }
          a:hover {
            color: blue;
          }
        }
      }
      .selfintrodution {
        margin-top: 10px;
        height: 3rem;
        overflow: hidden;
        overflow-wrap: break-word;
      }
    }
    .other_info {
      height: 70px;
      margin-bottom: 20px;
      display: flex;
      @include about_border;
      .items {
        margin-left: 10px;
        margin-top: 5px;
        width: fit-content;
        .nice_button {
          .not_nice_now {
            @include button_design(green,white,green)
          }
          .nice_now {
            @include button_design(white, green, green)
          }
          .author {
            color: green;
          }
        }
        #number_nice {
          text-align: center;
        }
        .bookmark_button {
          .not_bookmark_now {
            @include button_design(rgb(91, 29, 238), white, rgb(91, 29, 238))
          }
          .bookmark_now {
            @include button_design(white, rgb(91, 29, 238), rgb(91, 29, 238))
          }
          .author {
            color: rgb(91, 29, 238);
          }
        }
        #number_bookmark {
          text-align: center;
        }
        .curious_button {
          .not_curious_now {
            @include button_design(brown, white, brown)
          }
          .curious_now {
            @include button_design(white, brown, brown)
          }
          .already_solved {
            color: brown;
          }
        }
        #number_curious {
          text-align: center;
        }
        .questionbookmark_button {
          .author {
            color: rgb(214, 29, 238);
          }
          .bookmark_now {
            @include button_design(white, rgb(214, 29, 238), rgb(214, 29, 238))
          }
          .not_bookmark_now {
            @include button_design(rgb(214, 29, 238), white, rgb(214, 29, 238))
          }
        }
        #number_questionbookmark {
          text-align: center;
        }
      }
    }
    .text {
      margin-bottom: 50px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    .comment_section {
      @include about_border;
      .mark_for_user {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .existing_comment {
        border-top: solid;
        .comment_user {
          display:  flex;
          width: 90%;
          margin: 5px auto;
          .commenter_avatar {
            width: 55px;
            height: 55px;
            margin-right: 10px;
          }
          .name {
            height: 55px;
            line-height: 55px;
          }
        }
        .comment {
          width: 90%;
          margin: 10px auto;
        }
      }
    }
  }
}