// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*showアクション：個人の全ての作成記事ページ*/
.personal_article_list {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

/*上のクラスに合わせた。適用要素の左端、右端の位置を統一している*/
.sum_article {
  width: 90%;
  margin: 2.4rem auto 3.1rem;
  font-family: impact;
  font-size: 2rem;
  height: 3rem;
  background-color: gold;
}

.interspace_items {
  margin-bottom: 0.4rem;
}

.search_form {
  width: 90vw;
  height: 40vh;
  margin: 0 auto;
  background-color: lightgray;
  border-radius: 10px;
  .search {
    height: 6vh;
    margin-bottom: 1vh;
    .search_input {
      height: 4.5vh;
      width: 40%;
    }
    .button_size {
      height: 4vh;
    }
  }
  .user_name {
    height: 4vh;
    font-size: 3vh;
    margin-bottom: 1vh;
  }
  .flex_container {
    display: flex;
    height: 4vh;
    margin-bottom: 2vh;
    .condition {
      height: 4vh;
      font-size: 3vh;
    }
    .checkbox {
      height: 1.8vh;
      margin: auto 0;
      .space {
        margin-left: 4px;
      }
    }
    .input_term {
      height: 1.8vh;
      margin: auto 0;
      margin-left: 10px;
    }
  }
}

.article_form {
  margin: 0 auto 30px;
  width: 90vw;
  .form-label {
    font-weight: bold;
  }
  .item {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .flex_mode {
    display: flex;
    .space, .checkbox {
      margin-right: 10px;
    }
  }
}

.richtext_form {
  width: 90vw;
  margin: 0 auto 1%;
  .form-label {
    font-weight: bold;
  }
  .form_height {
    height: 40vh;
    overflow-y: auto;
  }
}