/*ほぼ全てのページ*/
.z-index_minlevel {
  position: relative;
  top: 0;
  right: 0;
  z-index: 0;
  margin-top: 4rem;
}


a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.body_container {
  width: 80%;
  margin: 0 auto;
}

a:hover {
  color: blue;
}

.page_content {
  width: 70vw;
  font-size: 30px;
  font-weight: 500;
  margin: 140px auto 30px;
  background-color: rgba(0, 0, 0, 0.84);
  color: white;
}

/* 左に行くにつれて色が薄くなる白色の水平線 */
.link_line_design {
  height: 4px;
  width: 90%;
  margin-bottom: 4px;
  background: linear-gradient(to right, rgba(white,1), rgba(white,0));
}

.header_flex_container {
  background-color: rgb(216, 110, 10);
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}

.header_btn {
  position: relative;
  right: 2rem;
  top: 20%;
  height: 2.4rem;
  width: 2.7rem;
  display:  block;
  box-sizing: border-box;
  .btn_element {
    height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  margin: 18% 0;
  }
}

.header_logo {
  width: 10rem;
  height: 100%;
  text-align: center;
  .logo_position {
    height: 3rem;
    width: 100%;
    margin: 0.5rem 0;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
}

.letter_white {
  color: white;
}

// z-indexはハンバーガーメニュー表示のため。
.hidden_screen {
  display: none;
  width: 100vw;
  height: calc(100vh - 4rem);
  position: fixed;
  top: 4rem;
  right: 0;
  z-index: 2;
  background: linear-gradient(to right, 
              rgba(37, 25, 1, 0.135) 0%,
              rgba(37, 25, 1, 0.135) calc(100vw - 300px),
              rgba(165, 139, 25, 0.863) calc(100vw - 300px),
              rgba(165, 139, 25, 0.863) 100%);
}

.not_menu {
  position: fixed;
  width: calc(100vw - 300px);
  height: calc(100vh - 4rem);
  top: 4rem;
  left: 0;
  z-index: 2;
}

.header_menu {
  position: absolute;
  top: 0;
  left: calc(100vw - 300px);
  width: 300px;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .header_hirizontal_line {
    width: 80%;
    margin: 4px auto;
    border: 1px solid white;
  }
}

.header_menu_item {
  box-sizing: border-box;
  width: 80%;
  height: 1.6rem;
  margin: 0 auto;
  a {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: white;
  }
}

body.noscroll {
  overflow: hidden;
}

body {
  overflow: auto;
}



/*記事リスト、質問リスト(検索結果・投稿リスト)の表示*/
.an_item {
  background-color: rgb(235, 230, 223);
  .content {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    .title a {
      font-size: calc(1.6rem + 0.2vw);
    }
  }
}
.distinction_line {
  height: 0.8px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

/* アバター */
.avatar {
  border-radius: 50%;
  border: solid 1px white;
  background-color: rgb(193, 212, 255)
}

@mixin avatar_face {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin: 20% auto 6%;
  background: blue
}

@mixin avatar_body {
  width: 90%;
  height: 50%;
  border-radius: 40% 40% 20% 20%;
  margin: 0 auto;
  background: blue
}

.avatar_min_size {
  width: 25px;
  height: 25px;
  overflow: hidden;
  .face {
    @include avatar_face
  }
  .body {
    @include avatar_body
  }
}

.avatar_normal_size {
  width: 50px;
  height: 50px;
  overflow: hidden;
  .face {
    @include avatar_face
  }
  .body {
    @include avatar_body
  }
}

.avatar_large_size {
  width: 75px;
  height: 75px;
  overflow: hidden;
  .face {
    @include avatar_face
  }
  .body {
    @include avatar_body
  }
}
