/*ほぼ全てのページ*/
.z-index_minlevel {
  position: relative;
  top: 0;
  right: 0px;
  z-index: 0;
  margin-top: 5rem;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.body_container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

.header_flex_container {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}

.header_btn {
  position: relative;
  right: 2rem;
  top: 20%;
  height: 2.4rem;
  width: 2.7rem;
  display:  block;
  box-sizing: border-box;
  .btn_element {
    height: 2px;
  width: 100%;
  background-color: white;
  display: block;
  margin: 18% 0;
  }
}

.header_logo {
  width: 10rem;
  height: 100%;
  text-align: center;
  .logo_position {
    height: 3rem;
    width: 100%;
    margin: 0.5rem 0;
    line-height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
}

// z-indexはハンバーガーメニュー表示のため。
.hidden_screen {
  display: none;
  width: 100vw;
  height: calc(100vh - 4rem);
  position: fixed;
  top: 4rem;
  right: 0;
  z-index: 2;
  background: linear-gradient(to right, 
              rgba(26, 157, 209, 0.135) 0%,
              rgba(26, 157, 209, 0.135) calc(100vw - 300px),
              cadetblue calc(100vw - 300px),
              cadetblue 100%);
}

.not_menu {
  position: fixed;
  width: calc(100vw - 300px);
  height: calc(100vh - 4rem);
  top: 4rem;
  left: 0;
  z-index: 2;
}

.header_menu {
  position: absolute;
  top: 0;
  left: calc(100vw - 300px);
  width: 300px;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}

.header_menu_item {
  box-sizing: border-box;
  width: 80%;
  height: 1.2rem;
  margin: 6px auto;
  a {
    color: white;
  }
}

body.noscroll {
  overflow: hidden;
}



/*記事リスト、質問リスト(検索結果・投稿リスト)の表示*/
.an_item {
  border: solid 3px #333;
  border-radius: 10px;
  background-color: rgb(127, 243, 185);
  .separation {
    background: black;
    height: 3px;
    margin: 5px 0;
  }
}

/* アバター */
.avatar {
  border-radius: 50%;
  border: solid 1px black;
  background-color: rgb(246, 238, 238);
}

@mixin avatar_face {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin: 20% auto 6%;
  background: blue
}

@mixin avatar_body {
  width: 90%;
  height: 50%;
  border-radius: 40% 40% 20% 20%;
  margin: 0 auto;
  background: blue
}

.avatar_normal_size {
  width: 50px;
  height: 50px;
  overflow: hidden;
  .face {
    @include avatar_face
  }
  .body {
    @include avatar_body
  }
}

.avatar_large_size {
  width: 75px;
  height: 75px;
  overflow: hidden;
  .face {
    @include avatar_face
  }
  .body {
    @include avatar_body
  }
}
