/*主に入力フォームのページ*/
textarea {
  resize: vertical;
}

.input_form {
  width: 70%;
  margin: 0 auto 1%;
  .form-label {
    font-weight: bold;
  }
  .edit_avatar_flex {
    display: flex;
    width: 40%;
    margin: 0 auto 1%;
    .place_adjustment {
      height: 75px;
      line-height: 75px;
      margin-right: 10px;
    }
  }
}

.submit_button {
  width: 10%;
  margin: 0 auto;
}

.submit_checkbox {
  margin-left: 30%;
}

.adjust_to_form {
  margin-left: 30%;
  margin-top: 1%;
}

.field_with_errors {
  .form-control {
    border-color: rgb(219, 73, 73);
    border-style: solid;
    border-width: thin;
  }
}

.message_container {
  width: 90%;
  margin: 0 auto;
}