// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 質問投稿リスト
.solve_question {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 2.5rem;
  text-align: center;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  background: blue;
  margin-bottom: 7px;
}

.not_solve_question {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 3.8rem;
  text-align: center;
  border: 1px solid red;
  border-radius: 4px;
  color: white;
  background: red;
  margin-bottom: 7px;
}

// 質問閲覧ページ
.answer_comment_section {
  .mark_of_answer {
    font-size: 30px;
    font-weight: 300;
    color: white;
    background-color: rgba($color: #cf3333, $alpha: 0.7);
  }
  .existing_answer_comment {
    padding-top: 40px;
    border-top: 0.8px solid;
    .answer_user {
      display:  flex;
      margin: 5px 0;
      .answer_avatar {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        a {
          display: inline-block;
        }
      }
      .answer_user_name {
        height: 50px;
        line-height: 50px;
      }
    }
    .answer {
      width: 90%;
      margin: 10px auto;
    }
    .delete {
      margin-bottom: 10px;
      width: 3rem;
      height: 1.5rem;
      border: 1px solid red;
      border-radius:  10px;
      background-color: red;
      text-align: center;
      a {
        display: block;
        color: white;
      }
    }
    .nice {
      margin-bottom: 10px;
      display: inline-block;
      text-align: center;
      .nice_answer {
        color: green;
      }
    }
    .about_nice_answer {
      margin-bottom: 10px;
      width: fit-content;
      .nice_now {
        color: white;
        background-color: green;
        border: 2px solid green;
        border-radius: 14px;
      }
      .not_nice_now {
        color: green;
        background-color: white;
        border: 2px solid green;
        border-radius: 14px;
      }
      #sum_nice {
        text-align: center;
      }
    }
    .mark_of_comment {
      font-size: 18px;
      font-weight: 300;
      background-color: rgb(235, 230, 223);
      width: 90%;
      margin-left: 10%;
    }
    .existing_comment {
      width: 90%;
      margin-left: 10%;
      border-top: 0.8px solid;
      margin-bottom: 20px;
      .comment_user {
        display:  flex;
        margin: 5px 0;
        .comment_avatar {
          width: 25px;
          height: 25px;
          margin-right: 10px;
          a {
            display: inline-block;
          }
        }
        .name {
          height: 25px;
          line-height: 25px;
        }
      }
      .comment {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10%;
      }
    }
  }
  .new_answer {
    padding-top: 50px;
    padding-bottom: 20px;
    .post_answer_mark {
      font-size: 30px;
      font-weight: 300;
      color: white;
      background-color: rgba(255, 0, 212, 0.6);
      border-bottom: 0.8px solid;
      margin-bottom: 20px;
    }
  }
  .new_comment {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    .post_comment_mark {
      font-size: 30px;
      font-weight: 300;
      color: white;
      background-color: rgba(255, 0, 212, 0.6);
      border-bottom: 0.8px solid;
      margin-bottom: 20px;
    }
    .input_number {
      margin-bottom: 20px;
      input {
        width: 4rem;
      }
    }
  }
}