// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 質問投稿リスト
.solve_question {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 2.5rem;
  text-align: center;
  border: 1px solid blue;
  border-radius: 4px;
  color: white;
  background: blue;
  margin-bottom: 7px;
}

.not_solve_question {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 3.8rem;
  text-align: center;
  border: 1px solid red;
  border-radius: 4px;
  color: white;
  background: red;
  margin-bottom: 7px;
}

// 質問閲覧ページ
.answer_comment_section {
  .mark_of_answer {
    margin-bottom: 20px;
  }
  .existing_answer_comment {
    margin-bottom: 40px;
    border: 1px solid;
    border-radius: 10px;
    .answer_user {
      display:  flex;
      width: 90%;
      margin: 5px auto;
      .answer_avatar {
        width: 55px;
        height: 55px;
        margin-right: 10px;
      }
      .answer_user_name {
        height: 55px;
        line-height: 55px;
      }
    }
    .answer {
      width: 90%;
      margin: 10px auto;
    }
    .delete {
      margin-bottom: 10px;
      margin-left: 10px;
      width: 3rem;
      height: 1.5rem;
      border: 1px solid red;
      border-radius:  10px;
      background-color: red;
      text-align: center;
      a {
        display: block;
        color: white;
      }
    }
    .nice {
      margin-bottom: 10px;
      margin-left: 10px;
      display: inline-block;
      .nice_answer {
        color: green;
      }
    }
    .about_nice_answer {
      margin-bottom: 10px;
      margin-left: 10px;
      width: fit-content;
      .nice_now {
        color: white;
        background-color: green;
        border: 2px solid green;
        border-radius: 14px;
      }
      .not_nice_now {
        color: green;
        background-color: white;
        border: 2px solid green;
        border-radius: 14px;
      }
      #sum_nice {
        text-align: center;
      }
    }
    .mark_of_comment {
      border-top: 1px solid;
      height: 2rem;
      line-height: 2rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .existing_comment {
      border-top: 1px solid;
      .comment_user {
        display:  flex;
        width: 90%;
        margin: 5px auto;
        .commenter_avatar {
          width: 55px;
          height: 55px;
          margin-right: 10px;
        }
        .name {
          height: 55px;
          line-height: 55px;
        }
      }
      .comment {
        width: 90%;
        margin: 10px auto;
      }
    }
  }
  .new_answer {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .new_comment {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    .input_number {
      margin-left: 10vw;
      input {
        width: 4rem;
      }
    }
  }
}