// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* staticpages_home */
.image_display {
  width: 100vw;
  height: calc(100vh - 4rem);
  background-image: image-url('home_image.jpg');
  background-size: cover;
  position: fixed;
  top: 4rem;
  overflow-y: auto;
  .heading_and_links {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 5%;
    .heading {
      width: 100%;
      overflow-wrap: break-word;
      color: white;
      font-size: calc( 40px + 2vw );
      font-weight: bold;
      margin-bottom: 50px;
      margin-top: 35vh;
    }
    .login_link, .signup_link, .test_login_link {
      a {
        color: white;
        font-size: calc( 25px + 1.8vw );
        font-weight: 500;
      }
      a:hover {
        color: blue;
      }
    }
  }
}


