/* ユーザーモデル関連のページ */
/* profile_avatarの大きさは、表示するアバターのサイズを上回るようにする */

.info_display_range {
  width: 70vw;
  margin: 0 auto;
  padding-top: 50px;
  .button_and_section {
    display: flex;
    .follow_form {
      margin-top: 36px;
      margin-left: 20px;
    }
  }
  .profile_section {
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
  }
  .user_backgroundcolor {
    background-color: rgb(223, 205, 173);
  }
  .selfintro_backgroundcolor {
    background-color: rgb(212, 167, 93);
  }
  .link_backgroundcolor {
    background-color: rgba($color: #000000, $alpha: 0.7)
  }
  .user_identification {
    display: flex;
    .profile_avatar_and_button {
      margin-right: 20px;
      width: 110px;
      .follow_form {
        margin-top: 10px;
      }
    }
    .user_name {
      font-size: 30px;
      overflow-wrap: break-word;
      width: calc(70vw - 110px - 20px);
      line-height: 50px;
    }
  }
  .user_selfintro {
    overflow-wrap: break-word;
    font-size: calc(1rem + 0.7vw);
  }
  .user_link {
    display: flex;
    flex-wrap: wrap;
    .all_article {
      background-color: rgba($color: #0dabd3b7, $alpha: 0.7 )
    }
    .all_question {
      background-color: rgba($color: #32e5b8b7, $alpha: 0.7 )
    }
    .user_follow {
      background-color: rgba($color: #8f31e7b7, $alpha: 0.7 )
    }
    .user_follower {
      background-color: rgba($color: #e50e0eb7, $alpha: 0.7 )
    }
    .all_article, .all_question, .user_follow {
      margin-right: 40px;
    }
    .all_article, .all_question, .user_follow, .user_follower {
      margin-bottom: 15px;
      padding: 10px;
      text-align: center;
      color: white;
      a {
        color: white;
      }
      a:hover {
        color: blue;
      }
    }
  }
}



/* フォロー・フォロワーのページ。該当する人の画像・自己紹介・名前を表示 */

.follow_follower_display {
  width: 70vw;
  height: 160px;
  margin: 10px auto;
  box-shadow: 10px 10px 12px rgba($color: #000000, $alpha: 0.4);
  background-color: rgb(235, 230, 223);
  .top_part {
    display: flex;
    width: 90%;
    height: 60px;
    .one_avatar {
      height: 100%;
      width: 55px;
      margin-right: 15px;
      a {
        display: inline-block;
      }
    }
    .one_text {
      height: 60px;
      width: calc(90% - 55px - 10px);
      line-height: 60px;
      font-size: calc(1rem + 1vw);
      overflow: hidden;
      a {
        color: black;
      }
    }
  }
  .one_selfintrodution {
    height: calc(100% - 60px - 30px);
    width: 90%;
    margin: 15px auto;
    overflow: hidden;
    overflow-wrap: break-word;
    color: black;
    font-size: calc(1rem + 0.4vw);
  }
}
.pagy_position {
  margin-left: 15vw;
  margin-top: 30px;
}
