<header>
  <div class="header_flex_container">
    <div class="header_logo">UExpress</div>
    <div class="header_btn">
      <div class="btn_element"></div>
      <div class="btn_element"></div>
      <div class="btn_element"></div>
    </div>
  </div>
</header>

<%# ハンバーガーメニュー表示部 %>
<div class="hidden_screen">
  <div class="not_menu">
  </div>
  <div class="header_menu">
    <li class="header_menu_item">
      <a href='/'>home</a>
    </li>
  </div>
</div>
