<header>
    UExpress

    <% if logged_in? %>
        <h2>images here</h2>
        <%= link_to "仮アカウント更新", edit_user_path(current_user) %>
        <%= link_to "仮ログアウト" , logout_path, method: :delete %>
    <% end %>

</header>